<html>
<h1>Add new User</h1>
<form>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Name: <input type="textbox" name="name" value="<%= @edit_user.name%>">
</form>
</html>